<body>
    <div class="home">
        <p class="main">Hey, this is <b>Carpa</b>, the online platform where to save your 3d designs and, why not, get financial performance from them with no further effort. </p><br/>
        <p class="question"><b>Is there a design that you are proud of?</b></p>
        <p>Awesome! Upload <a [routerLink]="['/upload']">here</a> your fabulous creations and share them with the entire world.</p>
        <p class="question"><b>Do you want to print something, but don't know what?</b></p>
        <p>Download another user's designs and print something cool today.</p>
    </div>  
</body>