<div class="card">
    <div class="card-content login">
        <p class="title">Sign in</p>
        <p class="subtitle">to continue to Carpa</p>
    </div>

    <form (ngSubmit)="signIn()">
        <p class="error" [hidden]="errorMessage != false">Not found any account with that credentials. Please, try again.</p>
        <div class="form-group">
            <label for="email" class="column is-narrow">Email</label>
            <input type="text" class="input is-small" id="email" required [(ngModel)]="email" name="email"/>
        </div>
        <div class="form-group">
            <label for="password" class="column is-narrow">Password</label>
            <input type="password" class="input is-small" id="password" required [(ngModel)]="password" name="password"/>
        </div>
        <p class="account">No account? <a [routerLink]="['/authorize/sign-up']">Create one!</a></p>
        <a class="password" [routerLink]="['/authorize/new-password']">Forgot Password?</a>
        <button type="submit" class="button is-small">Sign in</button>
    </form>
    <p class="google-text"> Or </p>
    <button type="button" class="google-button" (click)="googleAuth()">
        <img class="google-icon" src="../../../assets/img/Google__Logo.png">
        <p class="google-text">Log in with Google</p>
    </button>
</div>
