<div class="card">
    <div class="card-content">
        <p class="title">Reset password</p> 
        <p class="text">Please enter your email address to request a new password.</p>
    </div>
  
    <form>
       
        <div class="form-group">
            <label for="email" class="column is-narrow">Email</label>
            <input type="text" class="input is-small" id="email" required name="email" #passwordResetEmail/>
        </div>
        <p class="account">Go back to <a [routerLink]="['/authorize/sign-in']">Sign in.</a></p> 
        <button type="submit" class="button is-small" (click)="forgotPassword(passwordResetEmail.value)">Reset</button>
    </form>

  
</div>
