.card {
  width: 450px;
  height: 400px;
  align-content: center;
  margin: 45px auto 50px auto;
  font-family: "Montserrat", sans-serif;
}

.card-content {
  margin: 10px 20px -8px;
}

.title {
  margin-top: 23px;
  font-weight: 600;
  font-size: 35px;
}

.subtitle {
  margin-top: -20px;
  font-weight: 500;
  font-size: 15px;
}

.column {
  font-family: monospace;
  font-size: 12.2px;
  margin: -2px 0px -9px -8px;
}

.error {
  margin-left: 43px;
  color: red;
  font-weight: 600;
  font-size: 12px;
}

.form-group {
  width: 365px;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

input:focus {
  outline: 0.5px solid #5a8471;
  border: none;
}

button {
  display: block;
  width: 150px;
  margin: 58px auto 0px auto;
  background-color: #5a847126;
}
