.card {
  width: 450px;
  height: 500px;
  align-content: center;
  margin: 45px auto 50px auto;
  font-family: "Montserrat", sans-serif;
}

.card-content {
  margin: 10px 20px -8px;
}

.title {
  margin-top: 20px;
  font-weight: 600;
  font-size: 35px;
}

.subtitle {
  margin-top: -20px;
  margin-bottom: -5px;
  font-weight: 500;
  font-size: 15px;
}

.column {
  font-family: monospace;
  font-size: 12.2px;
  margin: -2px 0px -9px -8px;
}

.error {
  margin-left: 43px;
  color: red;
  font-weight: 600;
  font-size: 12px;
}

.form-group {
  width: 365px;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

input:focus {
  outline: 0.5px solid #5a8471;
  border: none;
}

.account {
  color: rgb(164, 164, 164);
  margin: 10px 0px 2px 43px;
  font-size: 11px;
}

.password {
  margin-left: 43px;
  font-size: 11px;
}

button {
  display: block;
  width: 150px;
  margin: 32px auto 0px auto;
  background-color: #5a847126;
}

.google-button {
  display: flex;
  align-content: center;
  margin: 15px auto 0px auto;
  background: white;
  width: 165px;
  border-radius: 5px;
  border: thin solid rgba(136, 136, 136, 0.279);
  white-space: nowrap;
}

.google-icon {
  display: inline-block;
  vertical-align: middle;
  width: 23px;
  height: 23px;
  margin: 9px 10px 9px 5px;
}

.google-text {
  display: flex;
  margin-top: 11px;
  justify-content: center;
  font-size: 13px;
  color: rgb(98, 98, 98);
}
